<!-- ]<async-observable-pipe></async-observable-pipe> -->

<!-- This setup allows the child component to send a message to the parent component -->
<!-- <app-rxjs-subject></app-rxjs-subject>
<p>{{ message }}</p> -->
<!-- <app-lifecycle></app-lifecycle> -->

<!-- Structural directives -->
<!-- <div *ngIf="respData">
  <ul *ngFor="let data of respData">
    <li>{{ data.id + " - " }}{{ data.title }}</li>
  </ul>
</div> -->

<!-- Attribute Directives -->
<!-- <div>
  <h3 [ngStyle]="{ color: 'Blue' }">Hi am saurabh lomte</h3>
  <button [ngStyle]="{ color: 'Blue' }" [ngClass]="{ disabled: false }">
    Active
  </button>
</div> -->

<!-- <div [@fadeInOut]="isVisible ? 'visible' : 'hidden'" class="fade-box">
  Fade In Out Box
</div>
<button (click)="toggle()">Toggle Fade</button>

<div [@changeColor]="boxState" class="color-box">Color Box</div>
<button (click)="toggleState()">Change Color</button> -->

<!-- <h2
  style="height: 50px; background-color: rgb(25, 58, 129); visibility: hidden"
>
  Saurabh visibility none
</h2>
<h2 style="height: 50px; background-color: red">Saurabh display none</h2> -->

<!-- <div #myInput>Content here</div>  -->
<!-- <input #myInput type="text" /> -->
<!-- <button (click)="doSomething()">Click me</button>
<button (click)="GetValue(myInput)">Get Value</button>

<p>------------------------</p>
<h1 [hidden]="true">My name is: "sknsndsnd"</h1>
<h1 *ngIf="false">My name is: "sknsndsnd"</h1>
<p>------------------------</p>

<p>{{ 1 < 4 ? "True Value" : ("False Value" | uppercase) }}</p>
<p>{{ (1 < 4 ? "True Value" : "False Value") | uppercase }}</p> -->

<!-- ----------------------------------------------------------------  -->
<!-- -------------------------  template driven forms ---------------  -->

<!-- <div class="container">
  <h1>Registration Form</h1>
  <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        required
        [(ngModel)]="model.name"
        name="name"
        #name="ngModel"
      />
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Please enter your name
      </div>
      <label for="surname">Surname</label>
      <input
        type="text"
        class="form-control"
        id="surname"
        required
        [(ngModel)]="model.surname"
        name="surname"
        #surname="ngModel"
      />
      <div
        [hidden]="surname.valid || surname.pristine"
        class="alert alert-danger"
      >
        Please enter your surname
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!registerForm.form.valid"
    >
      Submit
    </button>
  </form>
</div> -->

<!-- -----------------------------------------------------------------  -->

<!-- <div class="container">
  <h1>Registration Form</h1>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
               formControlName="name">
        <div *ngIf="registerForm.get('name').invalid && (registerForm.get('name').dirty || registerForm.get('name').touched)"
             class="alert alert-danger">
          Please enter your name
        </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!registerForm.valid">Submit</button>
  </form>
</div> -->

<!-- <app-rxjs-subject></app-rxjs-subject> -->

<!-- <app-template-driven></app-template-driven>
<app-reactive-forms></app-reactive-forms> -->
<app-lifecycle></app-lifecycle>
